body{
  font-family: var(--ffinter);
  background:  var(--bgcolor);
  color: var(--tcolor);
  overflow-x: hidden;
}
#hero{
  display: flex;
  height: 100vh;
  width: 100vw;
}
#item-1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.jca{
  height: 750px;
  width: 100%;
  margin-top: -35px;
  object-fit: fill;
}
#item-bot{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav {
  font-family: var(--ffmuseo);
  padding-left: 6.5rem;
  padding-top: 40px;
}
.nav a {
  float: left;
  padding-right: 16px;
}
.nav .icon {
  display: none;
}
/* projects */
#projects{
  padding: 2rem 6rem;
  width: 100vw;
}
#p-top{
  margin-top: 6rem;
  padding: 2.2rem;
}
#p-mid{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
#contain-1{
  background-color: var(--boxcolor);
  width: 750px;
  height: 100%;
  border-radius: var(--border);
}
#case-img{
  background-image: url(/img/clint-bustrillos-K7OUs6y_cm8-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
  height: 400px;
  width: 100%;
  cursor: pointer;
  border-top-left-radius: var(--border);
  border-top-right-radius: var(--border);
}
#case-detail{
  padding: 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.case-meaning p{
  max-width: 500px;
}
.arrow {
  display: flex;
  justify-content: center;  
  align-items: center;    
  width: 50px;          
  height: 50px; ;             
  background-color: var(--tcolor); 
  border: none;
  border-radius: 50%;
  font-size: 24px;        
  cursor: pointer;
}
.material-symbols-outlined {
  font-size: inherit; 
  color: var(--acolor);
}
#contain-2{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box-1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--boxcolor);
  padding: 15px;
  text-align: center;
  border-radius: var(--border);
  height: 100%;
  width: 400px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.box-1:hover,
#case-img:hover
{
  opacity: 0.5;
  transition: 0.5s;
}
#p-bot{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 1rem;
}
#box-2,
#box-3{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.expertise{
  padding: 30px 20px 50px 50px;
  display: flex;
  gap: 50px;
  outline: solid 1px rgb(161, 161, 161);
}
.number{
  text-align: right;
  font-weight: 500;
  font-size: 24px;
}
.quote{
  height: 100%;
  padding-left: 2.2rem;
}
.quote h1{
  font-size: 42px;
}
#footer{
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  font-family: var(--ffpop);
}
#links{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-brands{
  border-radius: 50%;
  font-size: 20px;
  padding: 20px;
}
